.flex-container {
height: 200px;
padding: 5px;
display: flex;
gap: 5px;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.flex-container .flex-item {
    background-color: black;
    color: white;
font-family: sans-serif;
padding: 5px;
text-align: center;
}


.flex-container .flex-item img {
width: 100%;    
max-width: 300px;
}

.flex-container .flex-item p {
    padding: 20px;
    margin: 5px;
}

footer {
    position: relative;
    background-color: orange;
    margin-top: 20px;
    width: 100%;
    padding-top: 0px;
    height: 70px;
    bottom: 0;
    }
